@import 'tailwindcss';

@plugin "daisyui" {
	themes: all;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
	--font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
}

@plugin "daisyui/theme" {
	name: "lighter";
	default: false;
	prefersdark: false;
	color-scheme: "light";
	--color-base-100: oklch(100% 0.002 247.839);
	--color-base-200: oklch(97% 0.003 264.542);
	--color-base-300: oklch(92% 0.006 264.531);
	--color-base-content: oklch(21% 0.034 264.665);
	--color-base-shadow: oklch(95% 0.002 247.839);
	--color-base-content: oklch(21% 0.034 264.665);
	--color-primary: oklch(58% 0.158 241.966);
	--color-secondary: oklch(89% 0.196 126.665);
	--color-secondary-content: oklch(27% 0.072 132.109);
	--color-accent: oklch(82% 0.111 230.318);
	--color-accent-content: oklch(29% 0.066 243.157);
	--color-neutral: oklch(44% 0.03 256.802);
	--color-neutral-content: oklch(98% 0.002 247.839);
	--color-info: oklch(58% 0.158 241.966);
	--color-info-content: oklch(97% 0.013 236.62);
	--color-success: oklch(62% 0.194 149.214);
	--color-success-content: oklch(98% 0.018 155.826);
	--color-warning: oklch(66% 0.179 58.318);
	--color-warning-content: oklch(98% 0.022 95.277);
	--color-error: oklch(58% 0.253 17.585);
	--color-error-content: oklch(96% 0.015 12.422);
	--radius-selector: 0.5rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}

@plugin "daisyui/theme" {
	name: "darky";
	default: false;
	prefersdark: false;
	color-scheme: "dark";
	--color-base-100: oklch(14% 0.005 285.823);
	--color-base-200: oklch(21% 0.006 285.885);
	--color-base-300: oklch(27% 0.006 286.033);
	--color-base-content: oklch(96% 0.001 286.375);
	--color-base-shadow: oklch(20% 0.006 286.033);
	--color-primary: oklch(45% 0.24 277.023);
	--color-primary-content: oklch(90% 0.063 306.703);
	--color-secondary: oklch(71% 0.202 349.761);
	--color-secondary-content: oklch(28% 0.109 3.907);
	--color-accent: oklch(75% 0.183 55.934);
	--color-accent-content: oklch(26% 0.079 36.259);
	--color-neutral: oklch(37% 0.013 285.805);
	--color-neutral-content: oklch(98% 0 0);
	--color-info: oklch(62% 0.214 259.815);
	--color-info-content: oklch(97% 0.014 254.604);
	--color-success: oklch(69% 0.17 162.48);
	--color-success-content: oklch(97% 0.021 166.113);
	--color-warning: oklch(79% 0.184 86.047);
	--color-warning-content: oklch(98% 0.026 102.212);
	--color-error: oklch(64% 0.246 16.439);
	--color-error-content: oklch(96% 0.015 12.422);
	--radius-selector: 0.5rem;
	--radius-field: 0.5rem;
	--radius-box: 0.50rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}
